.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #1e1e2f;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li{
    margin: 10px 0;
}

.sidebar ul li a{
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #d1d1e0;
    font-size: 16px;
    border-left: 4px solid transparent;
    transition: .03s;
}

.sidebar ul li a:hover{
    background-color: #2a2a40;
    color: #ffffff;
    border-left: 4px solid #6c5ce7;
}

.sidebar ul li a.active{
    background-color: #2a2a40;
    border-left: 4px solid #6c5ce7;
    color: #fff;
}

.sidebar-logout {
  padding: 20px;
  border-top: 1px solid #333;
}

.sidebar-logout button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #e53935;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-logout button:hover {
  background: #c62828;
}